.skills-main {
    width: 100%;

    text-align: center;
}

.skills-mid {
    width: 90%;

    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px;
    gap:60px;
    margin-top: 40px;
}

.skill {

    height: 260px;
    background-color: #ffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;

}

.skill>h3{
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.2rem;

}

.skillsets{
    width:100%;
    height:200px;


}

.skillsets> img {
    width: 100%;
    max-height:100%; 
    vertical-align:bottom;
    border-radius: 30px 30px 20px 20px;
 
}


@media  (max-width: 840px) {

    .skills-mid{
        grid-template-columns: repeat(2, 1fr);
    }

    .skill {
        width: 100%;
        height: 260px;
        margin: auto;
        text-align: center;
        background-color: #ffff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 30px;
    
    }

    .skillsets{
        width:100%;
        height:230px;
 
    
    }

    .skillsets> img {
        border-radius: 30px 30px 0px 0px;  
    }

    .skill > h3{
        font-size: 1.2rem;
        font-weight: 900;
        margin-top: -31px;
    }

}

@media  (max-width: 450px) {

    .skills-mid{
        grid-template-columns: repeat(1, 1fr);
    }

    .skill {
        width: 100%;
        height: 250px;
        margin: auto;
        text-align: center;
        background-color: #ffff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 60%;
      
    }

    .skillsets{
        width:100%;
        height:180px;
    }

    .skillsets> img {
        border-radius: 30px 30px 0px 0px;  
    }

    .skill h3{
        font-size: 1.2rem;
        margin-top: 10px;
    }

}



.main-stat{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}
.static-container{
    width: 90%;
    margin: auto;

    justify-content: center;
    margin: 2rem auto;
}
.static-box{
    display:flex;
    margin-top: 20px;
    justify-content: space-around;
    color:white;
}

  

  .individualStat {
    width: 140px;
    text-align: center;
  }
  
  .circle-box > div:nth-child(1) {
    margin: auto;
    font-size: 28px;
    font-weight: 600;
    height: 130px;
    width: 130px;
    border: 10px solid orange;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
  }

  
  @media only screen and (max-width: 740px) {
    .static-container{
        width: 90%;
        margin: auto;
        margin-top: 20px;
        justify-content: center;
        margin: 1rem auto;
    }

    .static-box{
        display:flex;
        width: 95%;
        margin: auto;
    }

    .circle-box > div:nth-child(1) {
        margin: auto;
        font-size: 12px;
        font-weight: 600;
        height: 80px;
        width: 80px;
        border: 5px solid #506aff;
        border-radius: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
      }


  }

